<style>
  .message-content {
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Ola, {{name}}</p>
  <p>Solicitacao de troca de senha.</p>
  <p>Se voce solicitou, entao clique no link abaixo para redefinir sua senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se voce nao solicitou a alteracao de senha, descarte esse e-mail!</p>
  <p>
    Obrigado!
    <small>Equipe BarberShop</small>
  </p>

</div>
